
.article_header{
    background-color: royalblue;
    border-radius: 5px;
}
.a_detials >div> span{
    font-family: "Times New Roman";
    font-size: 1em;
    margin: 0;
}
.a_header {
    font-family: "Arial Black";
    color: white;
    font-size: 4vw;
    text-align: center;
}
.a_author{
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    text-align: right;
}
.a_text{

    margin: 5px 0 5px 0;
}
.article_wrapper{
     padding: 2vw;
    border-radius:5px;
    background-color: lightgray;
    margin-top: 1vw;
    margin-bottom: 1vw;
}
.bottom{
    position: absolute;
    bottom:0;
    right:0;
}
.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    font-size: 8px;
    text-align: center;
}
.btn-circle.btn-md {
    width: 50px;
    height: 50px;
    padding: 7px 10px;
    border-radius: 25px;
    font-size: 10px;
    text-align: center;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 12px;
    text-align: center;
}