{% extends "blog/index.html" %}

{% block content %}
    <div class="article_wrapper p-5">
        <div class=" container-fluid">

             {% include 'blog/article_header.html' %}


            <div class="mt-1 mb-1 row">
                <div class="col"> {{ article.article_text}}</div>



            </div>

            <div class="a_detials row">
                    <div class="col text-left"><span>autor:</span> {{ article.article_author.username }}</div>
                    <div class="col text-right"><span>datum: </span>{{ article.pub_date|date:"j.n.Y"}}</div>
            </div>

             {% include 'blog/article_comments.html' %}


         </div>
    </div>

{% endblock %}